#page-salas {
    display: flex;
    align-items: stretch;
    height: 100vh;
  
    aside {
      flex: 7;
  
      background: #835afd;
      color: #FFF;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      padding: 120px 80px;
  
      img {
        max-width: 320px;
      }
  
      strong {
        font: 700 36px 'Poppins', sans-serif;
        line-height: 42px;
        margin-top: 16px;
      }
  
      p {
        font-size: 24px;
        line-height: 32px;
        margin-top: 16px;
        color: #f8f8f8;
      }

      .button-div {
        margin-top: 20px;
        margin-left: 5px;

        button {
            background: transparent;
            border: 0;
            color: #FFF;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;      
        }
      }
    }
 }